{% extends "main.html" %}
{% block content %}
<h1>{{room.topic}}</h1>
<p>{{ room.description}}</p>

<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>

    {% for message in room_messages  %}
        <small>@{{message.user}} {{message.created|timesince}} ago</small>
        <p>{{ message.body }}</p>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write you comment here..." />
    </form>
</div>
{% endif %}
{% endblock %}